@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
body {
  background-color: #292d3e;
  color: white;
  font-family: Poppins;
}
.app-header {
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding-left: 10px;
}
.title-text {
  font-style: italic;
}

.container {
  color: white;
}
.staff-login-card {
  background-color: #303246;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius: 10px;
  padding: 4px 16px 10px;
}
.card-btn {
  width: max-content;
  border-radius: 10px;
  cursor: pointer;
}

.home-cards {
  display: flex;
  color: #060709;
}

.login-card {
  display: flex;
  flex: 1;
}

.login-card > * {
  flex: 1;
  margin: 10px;
}
.login-container {
  max-width: 400px;
  width: 100%;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  margin-top: 10px;
}

.btn-reg,
.btn-forgot {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
}
label,
button {
  margin-top: 20px;
  cursor: pointer;
}
label {
  font-size: 15px;
  font-weight: 600;
}
.input {
  padding: 8px;
  outline: none;
  border: 0;
  background: #eee;
}
button {
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
  padding: 8px;
  cursor: pointer;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #303246;
}

.std_home {
  display: flex;
  color: #303246;
  justify-content: center;
  flex-wrap: wrap;
}
.std_card {
  flex-basis: calc(33.33% - 10px);
  max-width: calc(33.33% - 10px);
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}
.card_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.card_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  background-color: #9d50bb;
  padding: 10;
}
.card_icon .icon {
  font-size: 36px;
  color: #fff;
}
.std_card:hover {
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  transition: all 300ms ease-in-out;
  animation: bounce 0.9s;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* .exam_container {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 0.75rem;

  /* background: #fff; 
}
.exam_box {
  position: relative;
  width: auto;
  height: 75px;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(59, 38, 38, 0.25);
  color: #303246;
} */
/* .exam_card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(15% - 5px), 1fr));
  gap: 20px;
  color: #303246;
}

.exam_box {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.exam_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.exam_icon {
  margin-bottom: 10px;
}

.exam_text {
  text-align: center;
} */
.exam_card_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  color: #303246;
  margin-top: 10px;
}

.exam_box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;

  height: auto;
}

.exam_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  background-color: #9d50bb;
  padding: 10;
}

.exam_icon .icon {
  font-size: 36px;
  color: #fff;
}
.exam_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.exam_text h3,
.exam_text p {
  margin: 0;
}
.exam_text > input {
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
.question_container {
  background-color: #fff;
  color: #303246;
  padding: 20px;
}
.question_body {
  display: flex;
  flex-direction: column;
}
.options {
  background-color: rgb(221, 218, 218);
  font-style: italic;
  border-radius: 10px;
  padding: 10px;
}
.options_body {
  display: flex;
  flex-direction: column;
}

.radio_alignment {
  display: flex;
  flex-direction: row;
}
.radio_alignment input {
  margin-top: 15px;
  width: 20px;
}
.radio_alignment label {
  width: 50%;
  padding: 10px;
}
.staff_loginCard {
  color: #303246;
}

.roles_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.form-select {
  padding: 5px;
  border-radius: 5px;
}
.teacher_main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.teacher_container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 0.75rem;
  color: #303246;
  margin: 10px;
}
.teacher_box {
  width: auto;
  height: max-content;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(59, 38, 38, 0.25);
  padding: 10px;
}
.teacher_content {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.teacher_box .teacher_content .teacher_card_icon {
  min-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  background-color: #9d50bb;
  padding: 10;
}

.teacher_card_icon .icon {
  font-size: 36px;
  color: #fff;
}
@media (max-width: 768px) {
  .exam_card_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .exam_card_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.new_exam_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
.new_exam_box {
  background: #fff;
  color: #303246;
  max-width: 400px;
  width: 100%;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  margin-top: 10px;
}

.exam_table_container {
  background: #fff;
  color: #303246;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
